.card {
    background-color: $snow-white;
    overflow: hidden;
    margin: auto;
    box-shadow: 5px 5px 6px 2px $cotton-candy;
    @include border-radius(0.5rem);
    padding: 8rem;
    
    img {
        background-size: cover;
        background-position: center center;
    }

    .card_title {
        margin: 0;
        color: black;
    }

    .card_description {
        margin: 0;
        color: $primary-black;
    }

    &_dark {

        background-color: black;

        .card_title {
            color: white;
        }
    }

}