@font-face {
    font-family: 'Eureka Endeavour';
    src: url('EurekaEndeavour-Regular.eot');
    src: url('EurekaEndeavour-Regular.eot?#iefix') format('embedded-opentype'),
        url('EurekaEndeavour-Regular.woff2') format('woff2'),
        url('EurekaEndeavour-Regular.woff') format('woff'),
        url('Assets/Fonts/EurekaEndeavour-Regular.ttf') format('truetype'),
        url('EurekaEndeavour-Regular.svg#EurekaEndeavour-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}