@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin reset-list {
  padding: 0;
  list-style: none;
}

@mixin background-gradient {
  background-color: $snow-white;
  background-image: linear-gradient(
    to bottom,
    $snow-white 20%,
    $pale-purple 55%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin display-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin display-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin colorBurn {
  background-image: $colorBurnSVG;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin nav-button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid $cultured-faded;
  padding: 4px 12px;
  border-radius: 120px;
}

@mixin nav-button-hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

@mixin transparent-text {
  color: transparent;
}

@mixin gradient-text-animation {
  font-size: clamp(4rem, 45vmin, 12rem);
  --bg-size: 400%;
  --color-one: hsl(248, 90%, 55%);
  --color-two: hsla(281, 95%, 55%, 0.802);
  --color-three: hsl(301, 95%, 35%);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      // var(--color-three),
      var(--color-one)
    )
    0 0 / var(--bg-size) 80%;
  color: transparent;
  -webkit-background-clip: text;
  animation: move-bg 12s infinite linear reverse;
  background-clip: text;
  letter-spacing: 8px;
}

// @mixin hero-gradient {

// }

@mixin hero-role-animation {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 18s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 10s linear infinite;
}
