@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin nav-button {
    padding: $spacing;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin background-gradient {
    background-color: $snow-white;
    background-image: linear-gradient(to bottom, $snow-white 20%, $cotton-candy 55%);
    background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}