
// Variables to use in the style.scss file.
// Typography
$fonts: 'Montserrat', sans-serif;
$heading-font: 'Bebas Neue', cursive;

// ** COLORS **
// Neutral Colors
$primary-white: #fff;
$cultured: #F8F6F4;
$white: #FFFDFB;
$primary-black: #0b090a;
$smokey-black: rgb(22, 18, 20);
$raisin-black: #2D2529;
$xiketic: #151118;

// Main Colors
$heliotrope: rgb(210, 133, 254);
$rose-pink: #F57AD6;
$royal-blue-light: #496DDB;
$midnight-blue: rgb(40, 33, 103);
$mantis-green: #76D671;

// ** FORMATTING **
$spacing: 3rem;
$letter-spacing: 2px;
