/* ** MAIN MENU ** */
#menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    margin-right: 1rem;
    color: #fffdfb;
}

.menu-line {
    width: 100%;
    margin-right: 3rem;
    height: 1px;
    background-color: #fffdfb;
}

/* #header-text h1 {
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 4.2rem;
}

#header-text p {
    font-size: 2.4rem;
    font-weight: 600;
    color: hsla(30, 20%, 96%, 0.895);
} */

.nav-list {
    color: #fffdfb;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-weight: 600;
    letter-spacing: 6px;
}

.nav-item:hover {
    font-weight: 500;
    cursor: pointer;
}

.nav-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fffdfb;
    cursor: pointer;
    font-size: 5.6rem;
    padding: 0;
}

.nav-button:hover {
    background-color: #fffdfb;
    background-image: linear-gradient(to bottom,
            #fffdfb 20%,
            hsla(236, 85%, 82%, 0.89) 55%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    --bg-size: 200%;
    --color-one: hsla(251, 72%, 50%, 0.943);
    --color-two: hsla(215, 40%, 94%, 0.829);
    --color-three: hsla(290, 26%, 54%, 0.833);
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-three),
            var(--color-one)) 0 0 / var(--bg-size) 80%;
    color: transparent;
    -webkit-background-clip: text;
    animation: move-bg 12s infinite linear reverse;
    background-clip: text;
    text-shadow: 0px 0px 2px hsla(236, 63%, 33%, 0.17);
}

.arrow-icon {
    transform: rotate(-45deg);
    color: hsla(30, 20%, 96%, 0.877);
}

.social-item:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 0;
    bottom: 0;
    z-index: 9;
    background: transparent;
}

.social-item {
    position: relative;
}

.social-item:hover:after,
.social-item:focus:after {
    width: 100%;
    background: hsla(30, 22%, 96%, 0.8);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#social-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 2.4rem;
}

.social-item {
    /* margin: 1rem; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFDFB;
    text-decoration: none;
    padding: 4px 12px;
    /* border: 1px solid hsla(30, 22%, 96%, 0.8);
    border-radius: 120px; */
}

.social-item:hover {
    /* font-weight: 500; */
    text-shadow: 0px 0px 2px hsla(251, 72%, 50%, 0.943);
}