/* ** MAIN MENU ** */

.nav-list {
    color: #F8F6F4;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    font-weight: 800;
    letter-spacing: 6px;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #F8F6F4;
    font-size: 6rem;
    padding: 0;
    cursor: pointer;
}

.nav-button:hover {
    --bg-size: 200%;
    --color-one: #A166CC;
    --color-two: #EAEFF6D3;
    --color-three: #660EAAB3;
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-three),
            var(--color-one)) 0 0 / var(--bg-size) 80%;
    color: transparent;
    -webkit-background-clip: text;
    animation: move-bg 10s infinite linear reverse;
    background-clip: text;
}

.social-item:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 0;
    bottom: 0;
    z-index: 9;
    background: transparent;
}

.social-item {
    position: relative;
}

.social-item:hover:after,
.social-item:focus:after {
    width: 100%;
    background: #F7F5F3CC;
    box-shadow: 0px 0px 2px #660EAAB3;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#social-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 2.4rem;
}

.social-item {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: #FFFDFB;
    text-decoration: none;
    padding: 4px 12px;
}

.social-item:hover {
    text-shadow: 0px 0px 2px #660EAAB3;
}