@import 'variables';
@import 'mixins';
@import 'card';

/*
  Josh Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}


/* ---------- BEGIN HOMEPAGE STYLING ----- */

html {
    // html font size = 62.5% of browser font size (0.625) (https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/)
    font-size: 62.5%;
}

body {
    font-family: $fonts;
    // body font size = 0.625 × 1.6rem = 1 (i.e., 100% of the browser font size)
    font-size: 1.6rem;
    @include background-gradient();
    padding: $spacing;
    
    a:hover {
        cursor: pointer;
    }
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: linear-gradient(to bottom, $snow-white 20%, $pale-purple 55%);
}

header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    font-size: 2.8rem;

    #personal-logo {
        grid-area: 1 / 1 / 2 / 4;
        background: linear-gradient($smokey-black, $raisin-black 90%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #personal-logo a:hover {
        background: linear-gradient($sky-magenta 10%, $fandango 90%);
        background-clip: text;
    }

    #main-nav {
        grid-area: 2 / 3 / 3 / 6;
        ul {
            padding: 0;
            li {
                @include nav-button();
            }

            li:hover {
                text-decoration: underline;text-decoration-color: $raisin-black;text-decoration-style: wavy;
            }
        }
    }
    #social-nav {
        color: $smokey-black;
        grid-area: 1 / 6 / 2 / 8;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;

        li {
            list-style-type: none;
        }
        li:hover {
            color: $fandango;
        }
    }
}

main {
    padding-top: $spacing;

    a {
        text-decoration: underline;
    }
}

#about-section {
    min-height: 99vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% repeat(2, 1fr);

    #h1-div {
        grid-area: 1 / 1 / 2 / 7;
        margin-top: 1em;
        h1 {
            font-size: 6rem;
        }
    }
    #element-div { 
        grid-area: 1 / 5 / 2 / 7;
    }
    #intro-div { 
        grid-area: 2 / 1 / 4 / 4;
        padding-right: 1rem;
    }
    #read-more {
        padding: 3rem 0;
    }
    #canvas-div { 
        grid-area: 2 / 4 / 4 / 7; 
        border: 2px solid red;
    }
}

#work-section {
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 1fr;
    justify-content: space-evenly;
    padding: 3rem 0;
    min-height: 100vh;
    align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    #work-sect-title {
        padding-top: $spacing;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
 
    #project1-container {

    }
    #project2-container {

    }
    #project3-container {

    }
}

#contact-section {
    padding: 9rem 0;
    min-height: 100vh;
}
