/*
  Building this reset from Josh Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import "menu.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Eureka Endeavour";
  src: url("EurekaEndeavour-Regular.eot");
  src: url("EurekaEndeavour-Regular.eot?#iefix") format("embedded-opentype"), url("EurekaEndeavour-Regular.woff2") format("woff2"), url("EurekaEndeavour-Regular.woff") format("woff"), url("Assets/Fonts/EurekaEndeavour-Regular.ttf") format("truetype"), url("EurekaEndeavour-Regular.svg#EurekaEndeavour-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #151118;
  color: #F8F6F4;
}
body a:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #F8F6F4;
  font-size: 1.9rem;
  background-image: linear-gradient(180deg, hsl(274deg, 17%, 8%) 0%, hsl(274deg, 17%, 8%) 10%, hsl(274deg, 17%, 8%) 20%, hsl(274deg, 17%, 8%) 30%, hsl(274deg, 17%, 8%) 40%, hsl(274deg, 17%, 8%) 50%, hsl(250deg, 29%, 9%) 100%);
}
header #top-nav {
  font-size: 2.2rem;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Popup container */
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
}
header #top-nav ul {
  padding: 0;
  list-style: none;
}
header #top-nav ul li:hover {
  font-weight: 600;
}
header #top-nav .hero-info {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
}
header #top-nav .hero-info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
header #top-nav .popup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}
header #top-nav .popup .popupNumber {
  background: rgba(21, 17, 24, 0.2);
  box-shadow: 0 8px 32px 0 hsla(236deg, 63%, 33%, 0.37);
  backdrop-filter: blur(25.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  white-space: nowrap;
  visibility: hidden;
  border-radius: 8px;
  padding: 3rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 2px;
}
header #top-nav .popup .popupNumber .c-info {
  color: #F8F6F4;
  text-decoration: none;
}
header #top-nav .popup .popupNumber .c-info .c-info-num {
  font-weight: 600;
}
header #top-nav .popup .popupNumber .c-info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
header #top-nav .popup .popupEmail {
  background: rgba(21, 17, 24, 0.2);
  box-shadow: 0 8px 32px 0 hsla(236deg, 63%, 33%, 0.37);
  backdrop-filter: blur(25.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  white-space: nowrap;
  visibility: hidden;
  border-radius: 8px;
  padding: 3rem;
  position: absolute;
  z-index: 1;
  top: 140%;
  left: -180%;
}
header #top-nav .popup .popupEmail .c-info {
  color: #F8F6F4;
  text-decoration: none;
}
header #top-nav .popup .popupEmail .c-info .c-info-mail {
  font-weight: 600;
}
header #top-nav .popup .popupEmail .c-info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
header #top-nav .popup .popupMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
  height: 85vh;
  background: rgba(21, 17, 24, 0.2);
  backdrop-filter: blur(65.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  white-space: nowrap;
  visibility: hidden;
  border-radius: 8px;
  padding: 3rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 0;
  cursor: crosshair;
}
header #top-nav .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
header .name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-family: "Eureka Endeavour";
}
header .hero-name {
  text-align: center;
  padding: 0 1rem;
  font-size: clamp(4rem, 30vmin, 7rem);
  letter-spacing: 5px;
  font-weight: 700;
  font-stretch: 400%;
  color: hsla(250deg, 20%, 82%, 0.943);
  text-shadow: 0px 0px 2px hsla(251deg, 72%, 50%, 0.2);
}
header #hero-center {
  text-align: center;
  padding: 0 3rem;
}
header #hero-center #hero-canvas-div {
  width: 100%;
  max-height: 25rem;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  border-radius: 120px;
  overflow: hidden;
}
header #hero-scroll {
  overflow: hidden;
}
header #hero-scroll #hero-role {
  margin: 0 -0.9rem;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: clamp(4rem, 45vmin, 4.5rem);
  white-space: nowrap;
}

#work-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  font-size: 1.9rem;
  min-height: 99vh;
  background-image: linear-gradient(180deg, hsl(253deg, 30%, 9%) 0%, hsl(248deg, 34%, 10%) 11%, hsl(244deg, 37%, 10%) 22%, hsl(241deg, 40%, 11%) 33%, hsl(239deg, 43%, 11%) 44%, hsl(237deg, 47%, 11%) 56%, hsl(235deg, 52%, 11%) 67%, hsl(234deg, 56%, 12%) 78%, hsl(232deg, 60%, 12%) 89%, hsl(231deg, 64%, 12%) 100%);
}
#work-section #work-sect-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  font-size: 6rem;
}
#work-section #work-desc {
  padding: 3rem;
}
#work-section .cards {
  width: 100%;
}
#work-section .cards .card {
  padding: 3rem;
}
#work-section .cards .card .project-header {
  text-align: center;
}
#work-section .cards .card .project-header .card-title {
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 3.2rem;
  font-weight: 600;
}
#work-section .cards .card .project-header .card-description {
  color: hsla(30deg, 22%, 96%, 0.8);
}
#work-section .cards .card .project-preview {
  border-top: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding-top: 1rem;
  border-bottom: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding-bottom: 1rem;
  margin: 1rem -3rem;
}

#about-section {
  min-height: 99vh;
  font-size: 1.9rem;
  padding: 3rem;
  padding-top: 4rem;
  background-image: linear-gradient(180deg, hsl(231deg, 64%, 12%) 0%, hsl(230deg, 64%, 13%) 10%, hsl(230deg, 64%, 14%) 20%, hsl(230deg, 62%, 16%) 30%, hsl(229deg, 63%, 17%) 40%, hsl(229deg, 63%, 18%) 50%, hsl(228deg, 63%, 19%) 60%, hsl(228deg, 63%, 20%) 70%, hsl(228deg, 62%, 22%) 80%, hsl(228deg, 62%, 23%) 90%, #172664 100%);
}
#about-section #about-h1-div {
  display: flex;
  align-items: center;
}
#about-section #about-h1-div h1 {
  font-size: 8rem;
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 2px;
}
#about-section #about-h1-div #element-div {
  padding: 1rem;
  font-size: 4rem;
  color: orange;
}
#about-section #intro-div {
  font-size: 1.8rem;
}
#about-section #read-more {
  margin-top: 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
}
#about-section #read-more:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

#contact-section {
  min-height: 89vh;
  font-size: 1.9rem;
  padding: 3rem;
  background-image: linear-gradient(180deg, hsl(228deg, 63%, 24%) 0%, hsl(229deg, 62%, 22%) 10%, hsl(229deg, 63%, 19%) 20%, hsl(230deg, 63%, 17%) 30%, hsl(230deg, 64%, 14%) 40%, hsl(231deg, 64%, 12%) 50%, hsl(231deg, 59%, 12%) 60%, hsl(233deg, 55%, 11%) 70%, hsl(234deg, 50%, 11%) 80%, hsl(235deg, 44%, 11%) 90%, hsl(237deg, 40%, 10%) 100%);
}
#contact-section #contact-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 6rem;
}
#contact-section #contact-desc {
  padding-top: 3rem;
}
#contact-section #all-contact-info {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#contact-section #all-contact-info ul {
  list-style-type: none;
  padding: 0;
}
#contact-section #all-contact-info ul #bottom-info #bottomMail {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
}
#contact-section #all-contact-info ul #bottom-info #bottomMail:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#contact-section #all-contact-info ul .socials {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
  margin: 1rem;
}
#contact-section #all-contact-info ul .socials:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#contact-section #all-contact-info ul .info {
  text-align: center;
  font-size: 2.2rem;
}
#contact-section #all-contact-info ul .info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#contact-section #all-contact-info ul a {
  color: #F8F6F4;
  text-decoration: none;
}
#contact-section #all-contact-info #bottom-socials {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
  color: gray;
  font-size: 1.8rem;
  padding: 2rem 0;
  background-image: linear-gradient(180deg, hsl(237deg, 40%, 10%) 0%, hsl(243deg, 37%, 10%) 11%, hsl(253deg, 29%, 9%) 44%, hsl(260deg, 26%, 9%) 56%, hsl(262deg, 24%, 9%) 67%, hsl(264deg, 23%, 9%) 78%, hsl(270deg, 19%, 8%) 100%);
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* for Firefox */
/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    -webkit-animation: move-bg 8s linear infinite;
            animation: move-bg 8s linear infinite;
  }
  @-webkit-keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
@media screen and (max-width: 320px) {
  #name-text {
    border: 1px solid red;
    font-size: clamp(4rem, 45vmin, 23rem);
  }
}/*# sourceMappingURL=style.css.map */