@import "variables";
@import "mixins";
@import "reset";
@import "menu.css";
@import "font-imports";

body {
  font-family: $display-font;
  background-color: $xiketic;
  color: $cultured;

  a:hover {
    cursor: pointer;
  }
}

header {
  @include display-column;
  min-height: 100vh;
  color: $cultured;
  font-size: 1.9rem;
  background-image: linear-gradient(
    180deg,
    hsl(270deg 15% 5%) 0%,
    hsl(276deg 17% 6%) 10%,
    hsl(270deg 19% 6%) 20%,
    hsl(276deg 14% 7%) 30%,
    hsl(270deg 16% 7%) 40%,
    hsl(274deg 17% 8%) 50%,
    hsl(276deg 23% 9%) 60%,
    hsl(275deg 26% 9%) 70%,
    hsl(276deg 31% 10%) 80%,
    hsl(273deg 35% 10%) 90%,
    hsl(274deg 38% 11%) 100%
  );
  padding: 0 2rem;

  #top-nav {
    font-size: 2rem;
    padding: 2rem 4rem;
    @include display-row;

    ul {
      @include reset-list;

      li:hover {
        font-weight: 600;
      }
    }

    .hero-info {
      @include nav-button;
    }

    .hero-info:hover {
      @include nav-button-hover;
    }

    /* Popup container */
    .popup {
      position: relative;
      @include display-column;
      text-align: center;
      cursor: pointer;
    }

    // .popup .popupNumber {
    //   @include glass-container;
    //   white-space: nowrap;
    //   visibility: hidden;
    //   border-radius: 8px;
    //   padding: 3rem;
    //   position: absolute;
    //   z-index: 1;
    //   top: 125%;
    //   left: 2px;

    //   .c-info {
    //     color: $cultured;
    //     text-decoration: none;

    //     .c-info-num {
    //       font-weight: 600;
    //     }
    //   }

    //   .c-info:hover {
    //     @include nav-button-hover;
    //     font-weight: 500;
    //   }
    // }

    // .popup .popupEmail {
    //   @include glass-container;
    //   white-space: nowrap;
    //   visibility: hidden;
    //   border-radius: 8px;
    //   padding: 3rem;
    //   position: absolute;
    //   z-index: 1;
    //   top: 140%;
    //   left: -180%;

    //   .c-info {
    //     color: $cultured;
    //     text-decoration: none;

    //     .c-info-mail {
    //       font-weight: 600;
    //     }
    //   }

    //   .c-info:hover {
    //     @include nav-button-hover;
    //     font-weight: 500;
    //   }
    // }

    .popup .popupMenu {
      @include display-column;
      max-width: 50vw;
      max-height: 75vh;
      @include glass-container;
      visibility: hidden;
      border-radius: 10px;
      padding: 3rem;
      position: absolute;
      z-index: 1;
      top: 125%;
      right: -3rem;
      cursor: crosshair;

      .heroTwinkle {
        opacity: 0.9;
      }

      .sharpArrowSvg {
        width: 5.2rem;
        opacity: 0.9;
      }

      .nav-button:hover {
        .sharpArrowSvg {
          opacity: 0.6;
        }
      }
    }

    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .popup .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
    }
  }

  .name-div {
    @include display-row;
    justify-content: center;
    font-family: $logo-font;
  }

  .hero-name {
    text-align: center;
    padding: 0 1rem;
    margin: -2rem 0;
    letter-spacing: 3px;
    font-weight: 500;
    color: #f8f6f4;
    text-shadow: 0px 0px 2px hsla(0, 0%, 95%, 0.6);
  }

  #hero-scroll {
    // overflow: hidden;
    // display: none;
    margin: 0 $spacing;
    padding: 3rem;

    #hero-role {
      margin-top: -4rem;
      font-family: $display-font;
      text-align: center;
      font-weight: 400;
      letter-spacing: 3px;
      // font-size: clamp(1rem, 2.5vw, 2rem);
      // white-space: wrap;
      background-color: $cultured;
      background-size: 100%;
      --bg-size: 300%;
      --color-one: hsla(0, 0%, 65%, 0.947);
      --color-two: hsla(0, 0%, 98%, 0.8);
      background: linear-gradient(
          90deg,
          var(--color-one),
          var(--color-two),
          var(--color-one)
        )
        0 0 / var(--bg-size) 80%;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      animation: move-bg 12s infinite linear reverse;
    }

    .icon-img {
      max-width: 2.9rem;
      margin: 0.9rem 0;
      opacity: 0.7;
    }

    .fancy-div {
      // width: 100%;
      @include display-row;
      justify-content: center;
      // display: none;

      .line {
        width: 100%;
        @include line;
        margin: 0 3rem;
      }
    }
  }

  #hero-feature {
    display: flex;
    text-align: center;
    margin: 0 $spacing;
    margin-top: -2rem;

    .icon-img {
      max-width: 2rem;
      margin: 2rem;
      opacity: 0.6;
    }

    .fancy-div {
      @include display-row;

      .twinkleIcon {
        padding: 3rem;
        font-size: 2rem;
        color: $cultured-faded;
      }
    }

    #hero-canvas-div {
      width: 100%;
      max-height: 25rem;
      border: 1px solid $cultured-faded;
      border-radius: 120px;
      overflow: hidden;
      background-color: transparent;
      background-image: url("/Assets/PNGs/starry5.png");
      background-size: 120%;
      background-position: left top;
      // background-repeat: no-repeat;
      // background-attachment: fixed;
      // box-shadow: inset 0 0 0 2000px rgba(21, 17, 24, 0.45);
    }
  }
}

#work-section {
  @include display-column;
  font-size: 1.9rem;
  min-height: 75vh;
  background-image: linear-gradient(
    180deg,
    hsl(274deg 38% 11%) 0%,
    hsl(274deg 40% 11%) 10%,
    hsl(275deg 43% 12%) 20%,
    hsl(273deg 46% 12%) 30%,
    hsl(275deg 48% 13%) 40%,
    hsl(274deg 50% 13%) 50%,
    hsl(271deg 53% 14%) 60%,
    hsl(269deg 56% 15%) 70%,
    hsl(266deg 59% 16%) 80%,
    hsl(264deg 61% 17%) 90%,
    hsl(262deg 63% 18%) 100%
  );

  .work-desc {
    letter-spacing: 1px;
    margin: 3rem 6rem;
    text-align: center;
    color: $cultured-faded;

    .center-icon {
      margin: 2rem auto;
      max-width: 6rem;
      opacity: 0.7;
    }

    span {
      display: block;
      font-family: $display-font;
    }

    p {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 6rem;
    padding-top: 3rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      // margin: 3rem 0;

      a {
        text-decoration: none;
        color: $cultured;
      }

      .project-header {
        text-align: center;

        .card-title {
          font-family: $heading-font;
          letter-spacing: 2px;
          font-size: 3.2rem;
          font-weight: 600;
        }

        .card-description {
          color: $cultured-faded;
        }
      }

      .project-preview {
        margin: 2rem 0;
        .project-img {
          border-radius: 10px;
        }
      }
    }

    .card:hover {
      .project-img {
        border-radius: 50%;
        border: 0.5rem solid #8149E0;
      }
    }

    #project1-container {
      border-top: 1px solid #bfbcbacc;
      border-bottom: 1px solid #bfbcbacc;
      padding: 3rem 0;
    }

    #project2-container {
      border-bottom: 1px solid #bfbcbacc;
      padding: 3rem 0;
    }
  }
}

#about-section {
  font-size: 2rem;
  min-height: 65vh;
  padding: 0 6rem;
  padding-top: 3em;
  background-image: linear-gradient(
    180deg,
    hsl(262deg 63% 18%) 0%,
    hsl(262deg 61% 17%) 11%,
    hsl(263deg 58% 17%) 22%,
    hsl(263deg 56% 16%) 33%,
    hsl(264deg 54% 15%) 44%,
    hsl(265deg 51% 15%) 56%,
    hsl(266deg 49% 14%) 67%,
    hsl(266deg 47% 13%) 78%,
    hsl(266deg 44% 13%) 89%,
    hsl(266deg 41% 12%) 100%
  );

  #about-copy-sect {
    padding: 1rem 0;

    .center {
      text-align: center;
      color: $cultured-faded;
      font-size: 1.7rem;
      padding-bottom: 3rem;
      font-weight: 600;
    }

    .left {
      color: $cultured-faded;
      font-size: 1.9rem;
      font-weight: 500;
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: -2rem;

      .element-icon {
        padding: 1rem;
        max-width: 6rem;
        opacity: 0.8;
      }
    }

    #about-h1-div {
      display: flex;
      align-items: center;
      justify-content: left;
      align-items: center;
      margin-bottom: -0.15rem;

      .element-icon {
        padding: 2rem;
        max-width: 12rem;
        opacity: 0.9;
      }

      .about-h1 {
        font-size: clamp(4rem, 20vh, 12rem);
        font-family: $special-font;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    #intro-div {
      font-size: 1.9rem;
      text-align: center;
      font-weight: 500;
      color: $cultured-faded;
      padding-right: 1rem;

      .left {
        text-align: left;
        // padding-right: 1rem;
        padding-bottom: 2rem;
      }
    }

    .read-more-btn-div {
      display: flex;
      justify-content: end;

      #read-more {
        margin-top: 3rem;
        @include nav-button;
      }

      #read-more:hover {
        @include nav-button-hover;
      }
    }
  }
}

#contact-section {
  padding: 0 6rem;
  min-height: 65vh;
  font-size: 1.9rem;
  background-image: linear-gradient(
    180deg,
    hsl(266deg 41% 12%) 0%,
    hsl(264deg 41% 12%) 11%,
    hsl(262deg 41% 12%) 22%,
    hsl(262deg 41% 12%) 33%,
    hsl(259deg 41% 12%) 44%,
    hsl(257deg 41% 12%) 56%,
    hsl(254deg 41% 12%) 67%,
    hsl(254deg 41% 12%) 78%,
    hsl(252deg 41% 12%) 89%,
    hsl(250deg 41% 12%) 100%
  );

  #contact-feat-sect {
    #contact-title {
      font-family: $heading-font;
      font-size: 5rem;
      font-weight: 500;
      padding-top: 6rem;
    }

    .element-icon {
      padding: 2rem;
      max-width: 16rem;
      opacity: 0.9;
    }
  }

  #contact-desc {
    font-size: 1.9rem;
    text-align: left;
    font-weight: 500;
    color: $cultured-faded;
  }

  #all-contact-info {
    padding-top: 6rem;
    @include display-column;
    align-items: center;
    text-align: center;
    cursor: pointer;

    ul {
      list-style-type: none;
      padding: 0;

      #bottom-info {
        #bottomMail {
          @include nav-button;
        }

        #bottomMail:hover {
          @include nav-button-hover;
        }
      }

      .socials {
        @include nav-button;
        margin: 1rem;
      }

      .socials:hover {
        @include nav-button-hover;
      }

      .info {
        text-align: center;
        font-size: 2.2rem;
      }

      .info:hover {
        @include nav-button-hover;
      }

      a {
        color: $cultured;
        text-decoration: none;
      }
    }

    #bottom-socials {
      padding-top: 3rem;
      @include display-row;
    }
  }
}

footer {
  text-align: center;
  color: $cultured-faded;
  font-size: 1.8rem;
  padding: 2rem 0;
  background: #16122b;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

/* MEDIA QUERIES */
/* MEDIA QUERIES FOR LARGE PHONES */
@media screen and (max-width: 796px) {
  #top-nav {
    font-size: 1rem;
    padding: 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popup .popupMenu {
    min-width: 90vw;
    max-height: 75vh;
    right: -3rem;
  }

  #social-nav {
    font-size: 2rem;
    font-weight: 500;
  }

  .nav-button {
    font-size: 5.5rem;
    padding: 1rem;
  }

  .sharpArrowSvg {
    width: 3rem;
  }

  .name-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-name {
    font-size: 7rem;
    margin: auto;
  }

  .work-desc {
    font-size: 2.4rem;
  }

  #about-h1-div {
    margin-bottom: -0.15rem;

    .about-h1 {
      font-size: 12rem;
    }
  }

  #contact-socials {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 45vh;
  }

  .social-link {
    font-size: 1em;
  }
}

/* MEDIA QUERIES FOR TABLET AND DESKTOP */
@media screen and (min-width: 35em) {
  #top-nav {
    justify-content: space-between;
  }

  #social-nav {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .hero-name {
    font-size: 9rem;
    letter-spacing: 3px;
    font-weight: 500;
    color: #f8f6f4;
  }

  .work-desc {
    font-size: 2.4rem;
  }

  #about-h1-div {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;

    .element-icon {
      margin: auto;
      padding: 0;
      max-width: 2vw;
    }

    .about-h1 {
      font-size: 10rem;
    }
  }
}

/* MEDIA QUERIES FOR SMALL PHONES */
@media screen and (max-width: 425px) {
  #top-nav {
    justify-content: flex-end;
  }

  .contactButton {
    display: none;
  }

  .nav-item{
    letter-spacing: 1px;
  }

  .nav-button {
    font-size: 4.5rem;
    padding: 0;
  }

  .sharpArrowSvg {
    max-width: 3rem;
  }

  #social-nav {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .work-desc {
    font-size: 2rem;
  }

  #about-h1-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 0 -2rem;

    .element-icon {
      padding: 0;
      max-width: 1vw;
      margin: 0 auto;
    }

    .about-h1 {
      font-size: 15vh;
      padding: 0;
    }
  }

  #bottom-socials {
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
