@import "variables";
@import "mixins";
@import "reset";

html {
  font-size: 62.5%;
}

body {
  font-family: $fonts;
  font-size: 1.6rem;
  //padding: $spacing;
  background-color: $xiketic;
  color: $cultured;
  a:hover {
    cursor: pointer;
  }
}

header {
  //min-height: 99vh;
  color: $cultured;
  padding: $spacing;
  /*background-image: linear-gradient(
    175deg,
    hsl(273deg 19% 9%) 0%,
    hsl(278deg 18% 9%) 50%,
    hsl(274deg 17% 8%) 100%
  ); */

  #top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;

    ul {
      padding: 0;
      li {
        list-style-type: none;
      }
      li:hover {
        color: $heliotrope;
        text-decoration: underline;
      }
    }

    #personal-logo {
      font-size: 2.6rem;
      font-weight: 500;
      float: left;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;

      #logo-text:hover {
        color: $heliotrope;
      }

      #social-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        float: left;
        font-size: 2.4rem;

        li {
          padding: 1rem;
          text-align: center;
        }

        #first-list-item {
          padding: 0;
        }

        li:hover {
          border: 2px solid $white;
          border-radius: 50%;
          text-decoration: none;
        }
      }
    }

    #sensory-canvas {
      //border: 2px solid $heliotrope;
      border-radius: 16px;

      canvas {
        display: block;
        border-radius: 1rem;
      }
    }

    #main-nav {
      float: right;
      text-align: right;
    }
  }
}

main {
  padding-top: $spacing;
  padding: $spacing;

  a {
    text-decoration: underline;
  }
}

#about-section {
  min-height: 99vh;

  #h1-div {
    display: flex;
    align-items: center;
    margin-top: 3rem;

    h1 {
      font-size: 8rem;
      font-family: $heading-font;
      letter-spacing: $letter-spacing;
    }
    #element-div {
      padding: 1rem;
      font-size: 4rem;
      color: orange;
    }
  }
  #intro-div {
    font-size: 1.8rem;
  }
  #read-more {
    padding: 3rem 0;
  }
}

#work-section {
  min-height: 99vh;
  padding-top: 1rem;

  #work-sect-title {
    font-family: $heading-font;
    font-size: 6rem;
  }

  #work-desc {
    padding-top: 1rem;
  }

  .cards {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;

    .card {
      border-top: 1.5px solid gray;
      padding: 2rem 0;

      .project-header {
        // float: right;
        // text-align: right;

        .card-title {
          font-family: $heading-font;
          font-size: 3.8rem;
        }

        .card-description {
          margin-bottom: 2rem;
        }
      }

      .project-link {
        .project-img {
          margin: 1rem 0;
        }
        .project-img:hover {
          border: 1rem solid orange;
        }
      }
    }

    #project3-container {
      border-bottom: 1.5px solid gray;
    }
  }
}

#contact-section {
  min-height: 99vh;
  padding-top: 2rem;

  #contact-title {
    font-family: $heading-font;
    font-size: 6rem;
  }

  #form-div {
    padding: 1rem 0;
  }
}
