/*
  Building this reset from Josh Comeau's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import "menu.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Eureka Endeavour";
  src: url("EurekaEndeavour-Regular.eot");
  src: url("EurekaEndeavour-Regular.eot?#iefix") format("embedded-opentype"), url("EurekaEndeavour-Regular.woff2") format("woff2"), url("EurekaEndeavour-Regular.woff") format("woff"), url("Assets/Fonts/EurekaEndeavour-Regular.ttf") format("truetype"), url("EurekaEndeavour-Regular.svg#EurekaEndeavour-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calypso";
  src: url("Calypso-Regular.eot");
  src: url("Calypso-Regular.eot?#iefix") format("embedded-opentype"), url("Calypso-Regular.woff2") format("woff2"), url("Calypso-Regular.woff") format("woff"), url("Calypso-Regular.ttf") format("truetype"), url("Calypso-Regular.svg#Calypso-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #151118;
  color: #F8F6F4;
}
body a:hover {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #F8F6F4;
  font-size: 1.9rem;
  background-image: linear-gradient(180deg, hsl(270deg, 15%, 5%) 0%, hsl(276deg, 17%, 6%) 10%, hsl(270deg, 19%, 6%) 20%, hsl(276deg, 14%, 7%) 30%, hsl(270deg, 16%, 7%) 40%, hsl(274deg, 17%, 8%) 50%, hsl(276deg, 23%, 9%) 60%, hsl(275deg, 26%, 9%) 70%, hsl(276deg, 31%, 10%) 80%, hsl(273deg, 35%, 10%) 90%, hsl(274deg, 38%, 11%) 100%);
  padding: 0 2rem;
}
header #top-nav {
  font-size: 2.2rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Popup container */
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
}
header #top-nav ul {
  padding: 0;
  list-style: none;
}
header #top-nav ul li:hover {
  font-weight: 600;
}
header #top-nav .hero-info {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
}
header #top-nav .hero-info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
header #top-nav .popup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
}
header #top-nav .popup .popupNumber {
  background: rgba(21, 17, 24, 0.2);
  box-shadow: 0 8px 32px 0 hsla(274deg, 85%, 34%, 0.37);
  backdrop-filter: blur(25.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  white-space: nowrap;
  visibility: hidden;
  border-radius: 8px;
  padding: 3rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 2px;
}
header #top-nav .popup .popupNumber .c-info {
  color: #F8F6F4;
  text-decoration: none;
}
header #top-nav .popup .popupNumber .c-info .c-info-num {
  font-weight: 600;
}
header #top-nav .popup .popupNumber .c-info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
header #top-nav .popup .popupEmail {
  background: rgba(21, 17, 24, 0.2);
  box-shadow: 0 8px 32px 0 rgba(97, 13, 160, 0.368627451);
  backdrop-filter: blur(25.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1803921569);
  white-space: nowrap;
  visibility: hidden;
  border-radius: 8px;
  padding: 3rem;
  position: absolute;
  z-index: 1;
  top: 140%;
  left: -180%;
}
header #top-nav .popup .popupEmail .c-info {
  color: #F8F6F4;
  text-decoration: none;
}
header #top-nav .popup .popupEmail .c-info .c-info-mail {
  font-weight: 600;
}
header #top-nav .popup .popupEmail .c-info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
header #top-nav .popup .popupMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 500px;
  height: 75vh;
  background: rgba(21, 17, 24, 0.2);
  box-shadow: 0 0 22px 0 rgba(97, 13, 160, 0.368627451);
  backdrop-filter: blur(65.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  white-space: nowrap;
  visibility: hidden;
  border-radius: 8px;
  padding: 3rem;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 0;
  cursor: crosshair;
}
header #top-nav .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
header .name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-family: "Eureka Endeavour";
}
header .hero-name {
  text-align: center;
  padding: 0 1rem;
  margin: -3rem 0;
  font-size: clamp(4rem, 30vmin, 7.9rem);
  letter-spacing: 3px;
  font-weight: 500;
  color: #f8f6f4;
  text-shadow: 0px 0px 2px hsla(0deg, 0%, 95%, 0.6);
}
header #hero-scroll {
  overflow: hidden;
  margin: 0 3rem;
  padding: 3rem;
}
header #hero-scroll #hero-role {
  margin-top: -4rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 2.6rem;
  white-space: nowrap;
  background-color: #F8F6F4;
  background-size: 100%;
  --bg-size: 300%;
  --color-one: hsla(0, 0%, 65%, 0.947);
  --color-two: hsla(0, 0%, 98%, 0.8);
  background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0/var(--bg-size) 80%;
  color: transparent;
  -webkit-background-clip: text;
  animation: move-bg 12s infinite linear reverse;
  background-clip: text;
}
header #hero-scroll .fancy-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
header #hero-scroll .fancy-div .line {
  width: 100%;
  height: 1px;
  color: hsla(30deg, 22%, 96%, 0.8);
  background-color: hsla(30deg, 22%, 96%, 0.8);
  padding: 0 3px;
  margin: 0 3rem;
}
header #hero-center {
  display: flex;
  text-align: center;
  margin: 0 3rem;
  margin-top: -2rem;
}
header #hero-center .fancy-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #hero-center .fancy-div .twinkleIcon {
  padding: 3rem;
  font-size: 2rem;
  color: hsla(30deg, 22%, 96%, 0.8);
}
header #hero-center #hero-canvas-div {
  width: 100%;
  max-height: 25rem;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  border-radius: 120px;
  overflow: hidden;
  background-color: transparent;
  background-image: url("/Assets/starry5.png");
  background-size: 120%;
  background-position: left top;
}

#work-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.9rem;
  min-height: 99vh;
  background-image: linear-gradient(180deg, hsl(274deg, 38%, 11%) 0%, hsl(274deg, 40%, 11%) 10%, hsl(275deg, 43%, 12%) 20%, hsl(273deg, 46%, 12%) 30%, hsl(275deg, 48%, 13%) 40%, hsl(274deg, 50%, 13%) 50%, hsl(271deg, 53%, 14%) 60%, hsl(269deg, 56%, 15%) 70%, hsl(266deg, 59%, 16%) 80%, hsl(264deg, 61%, 17%) 90%, hsl(262deg, 63%, 18%) 100%);
}
#work-section .work-desc {
  letter-spacing: 1px;
  margin: 6rem;
  text-align: center;
  color: hsla(30deg, 22%, 96%, 0.8);
  font-size: 2.4rem;
}
#work-section .work-desc span {
  display: block;
  font-family: "Montserrat", sans-serif;
}
#work-section .work-desc p {
  font-weight: 600;
  text-transform: uppercase;
}
#work-section .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  margin-bottom: 3rem;
}
#work-section .cards .card a {
  text-decoration: none;
  color: #F8F6F4;
}
#work-section .cards .card .project-header {
  text-align: center;
}
#work-section .cards .card .project-header .card-title {
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 3.2rem;
  font-weight: 600;
}
#work-section .cards .card .project-header .card-description {
  color: hsla(30deg, 22%, 96%, 0.8);
}
#work-section .cards .card .project-preview {
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
}
#work-section .cards .card .project-preview .project-img {
  border-radius: 10px;
}
#work-section .cards .card:hover .project-preview {
  border: 1px solid transparent;
}
#work-section .cards .card:hover .project-img {
  border: 1px solid transparent;
  border-radius: 50%;
}

#about-section {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  font-size: 2rem;
  padding: 6rem;
  background-image: linear-gradient(180deg, hsl(262deg, 63%, 18%) 0%, hsl(261deg, 65%, 19%) 10%, hsl(260deg, 66%, 20%) 20%, hsl(259deg, 68%, 21%) 30%, hsl(258deg, 71%, 22%) 40%, hsl(257deg, 72%, 23%) 50%, hsl(256deg, 74%, 24%) 60%, hsl(256deg, 76%, 26%) 70%, hsl(255deg, 79%, 28%) 80%, hsl(254deg, 80%, 30%) 90%, hsl(254deg, 83%, 31%) 100%);
}
#about-section #about-h1-div {
  display: flex;
  align-items: center;
}
#about-section #about-h1-div #about-h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 4.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}
#about-section #about-h1-div #element-div {
  padding: 1rem;
  font-size: 4rem;
}
#about-section #intro-div {
  font-size: 1.9rem;
}
#about-section #read-more {
  margin-top: 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
}
#about-section #read-more:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

#contact-section {
  text-align: center;
  min-height: 89vh;
  font-size: 1.9rem;
  padding: 2rem;
  background-image: linear-gradient(180deg, hsl(254deg, 83%, 31%) 0%, hsl(253deg, 84%, 34%) 9%, hsl(253deg, 86%, 36%) 18%, hsl(252deg, 87%, 39%) 27%, hsl(252deg, 88%, 40%) 36%, hsl(252deg, 88%, 38%) 45%, hsl(251deg, 87%, 36%) 55%, hsl(251deg, 86%, 34%) 64%, hsl(251deg, 85%, 32%) 73%, hsl(251deg, 84%, 30%) 82%, hsl(250deg, 85%, 28%) 91%, hsl(250deg, 84%, 26%) 100%);
}
#contact-section #contact-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 6rem;
}
#contact-section #contact-desc {
  padding-top: 3rem;
}
#contact-section #all-contact-info {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#contact-section #all-contact-info ul {
  list-style-type: none;
  padding: 0;
}
#contact-section #all-contact-info ul #bottom-info #bottomMail {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
}
#contact-section #all-contact-info ul #bottom-info #bottomMail:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#contact-section #all-contact-info ul .socials {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid hsla(30deg, 22%, 96%, 0.8);
  padding: 4px 12px;
  border-radius: 120px;
  margin: 1rem;
}
#contact-section #all-contact-info ul .socials:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#contact-section #all-contact-info ul .info {
  text-align: center;
  font-size: 2.2rem;
}
#contact-section #all-contact-info ul .info:hover {
  font-weight: 500;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
#contact-section #all-contact-info ul a {
  color: #F8F6F4;
  text-decoration: none;
}
#contact-section #all-contact-info #bottom-socials {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
  color: gray;
  font-size: 1.8rem;
  padding: 2rem 0;
  background-image: linear-gradient(180deg, hsl(250deg, 83%, 26%) 0%, hsl(250deg, 83%, 25%) 11%, hsl(250deg, 82%, 24%) 22%, hsl(250deg, 81%, 23%) 33%, hsl(250deg, 81%, 22%) 44%, hsl(250deg, 79%, 21%) 56%, hsl(250deg, 78%, 20%) 67%, hsl(251deg, 77%, 19%) 78%, hsl(251deg, 75%, 17%) 89%, hsl(251deg, 72%, 16%) 100%);
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* for Firefox */
/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes my-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    -webkit-animation: move-bg 8s linear infinite;
            animation: move-bg 8s linear infinite;
  }
  @-webkit-keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
@media screen and (max-width: 320px) {
  #name-text {
    border: 1px solid red;
    font-size: clamp(4rem, 45vmin, 22rem);
  }
}/*# sourceMappingURL=style.css.map */